extends layout 

block content
  h1= title
  p 我们在一起已经过去了：
  li #{time.d} 天 #{time.h} 小时 #{time.m} 分钟 #{time.s} 秒钟 
  li 此时此刻是爱你的第 #{time.ms} 毫秒


  h2 网站记录

  if error
    p Error getting dynamic content.
  else

    p 原所想和所爱都能被记录下来:

    ul
      li #[strong 留言:] !{data.word_count}
      li #[strong 事件:] !{data.thing_count}
  h3 我一直喜欢你啊宝宝
  p
      button1 每日宣言
  p
      button2 今日份心情记录
  h4 晴天和阴天都不会被辜负
  script(src='/scripts/main.js')