extends layout

block content

  h1 想带你去看晴空万里
  p #{thing.tag}
  p 创建时间#{thing.time_now}
  p 完成时间#{thing.time_finish}
  h2 dream true
  p #{thing.content}
  hr
  p
    a(href=thing.url+'/finish') 是否完成
  p
    a(href=thing.url+'/delete') 删除
 
